body, html {
    height: 100%;
}

/* ////////////////////////////////////////////////////////////////////// */
/* navigation */

nav ul a,
nav .brand-logo {
  color: #444;
  padding:10px;
  
}


.jumbotron{
  height: 100%;
  background-image: url('../images/couple2cr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding:100px;
  color:white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #fff3; /* old IE */
    background-color: #fff; /* Modern Browsers */
}


a:link {
   color: grey; 
   }

a​:active { 
  color: grey;
   text-decoration: underline;
  }

a​:visited { 
  color: gray; 
  }

a​:hover { 
  color: grey; 
  }


a.red:link {color: white; text-decoration: none; }
a.red:visited {color: white; text-decoration: underline; }
a.red:active {color: white; }
a.red:hover {color:white; text-decoration:underline;}
.grey_text {
  color:grey;
}

.white {
    width: 100%;
    height: 85px; 
}


h5 {
   color:red
    
}

.page-title-container {
background-color: red;
width: 100%;
height: 120px;
color: white;
text-align: left;
padding-left: 100px;
padding-top: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
}



p {
  line-height: 2rem;
}
 .red-text-head{
  font-family: 'Lobster', cursive;
 }

.sidenav-trigger {
  color: red;
}
.i {
  padding: 10px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



/* ////////////////////////////////////////////////////////////////////// */
/* footer */

footer.page-footer {
  margin: 0px;
  padding: 10px;
}




/* ////////////////////////////////////////////////////////////////////// */
/* Media Queries */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}