body, html {
    height: 100%;
}

/* navigation */

nav ul a,
nav .brand-logo {
  color: #444;
  padding:10px;
  
}

.jumbotron {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dogInBox3.png");
 

  /* Set a specific height */
  height: 85%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.grey_text {
    color:grey;
}

.white {
    width: 100%;
    height: 85px; 
}

.jumbotron {
   padding:100px;
   color:white;
}

h5 {
   color:red
    
}

.page-title-container {
background-color: red;
width: 100%;
height: 120px;
color: white;
text-align: left;
padding-left: 100px;
padding-top: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
}

.coupon {
    background-image: url("../images/10coupon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 380px;
    border: 2px dashed #333;
}

p {
  line-height: 2rem;
}
 .red-text-head{
  font-family: 'Lobster', cursive;
 }

.sidenav-trigger {
  color: red;
}
.i {
  padding: 10px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #fff3; /* old IE */
    background-color: #fff; /* Modern Browsers */
}



a:link {
   color: grey; 
   }

a​:active { 
  color: grey;
   text-decoration: underline;
  }

a​:visited { 
  color: gray; 
  }

a​:hover { 
  color: grey; 
  }


a.red:link {color: white; text-decoration: none; }
a.red:visited {color: white; text-decoration: underline; }
a.red:active {color: white; }
a.red:hover {color:white; text-decoration:underline;}